@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.orbitron {
	font-family: "Orbitron", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

@keyframes gradient-x {
	0%,
	100% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}
.neon-text {
	text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff;
	transition: text-shadow 0.3s ease-in-out;
}

.neon-text:hover {
	text-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff, 0 0 60px #00ffff;
}

.animate-gradient-x {
	background-size: 200% 200%;
	animation: gradient-x 15s ease infinite;
}
